# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
coverage/
build/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.next/
out/
.cache/
--cache-location/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database
*.db
*.sqlite3


# Logs
logs/
*.log

# System Files
.DS_Store
Thumbs.db
